@model IEnumerable<ExpenseDto>


<div class="container mb-5 mt-5">
    <h3>Ödenen Faturalar Listesi</h3>
</div>
@if (TempData["Messages"] != null)
{
    <div class="alert alert-info">@TempData["Messages"]</div>
}
<table id="myDataTable" class="table table-hover table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ödenme Durumu</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Tarih</th>
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">Daire Numarası</th>
            <th scope="col">Gider Tipi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model)
        {
<tr>
    <td>@expense.Id</td>
    <td>@expense.IsPaid</td>
    <td>@expense.Price</td>
    <td>@expense.InvoiceDate</td>
    <td>@expense.UserName</td>
    <td>@expense.FlatNumber</td>
    <td>@expense.ExpenseTypeName</td>
</tr>
}
    </tbody>
</table>