@model List<ExpenseDto>
<div class="m-0">
    <h3>Borçlandırma İşlemleri</h3>
    <a class="btn btn-success btn-sm" asp-controller="Expense" asp-action="AddExpenseToAll">
        Toplu Borçlandır
    </a>

    <a class="btn btn-success btn-sm" asp-controller="Expense" asp-action="CreateExpense">
        Borçlandır
    </a>
</div>
<table id="myDataTable" class="table table-hover table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Fatura Tipi</th>
            <th scope="col">Ücret</th>
            <th scope="col">Fatura Tarihi</th>
            <th scope="col">Daire Numarası</th>
            <th scope="col">Kullanıcı İsmi</th>
            <th scope="col">Ödenme Durumu</th>

            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model)
        {
        <tr>
            <td>@expense.Id</td>
            <td>@expense.ExpenseTypeName</td>
            <td>@expense.Price</td>
            <td>@expense.InvoiceDate</td>
            <td>@expense.FlatNumber</td>
            <td>@expense.UserName</td>

            @if (expense.IsPaid == true)
            {
                <td><span class="badge badge-success">Ödendi</span></td>
            }
            else
            {
                <td><span class="badge badge-danger">Ödenmedi</span></td>
            }




            <td>
                <a class="btn btn-warning " asp-controller="Expense" asp-action="UpdateExpense"
                   asp-route-id="@expense.Id">
                    Güncelle
                </a>
                <a class="btn btn-danger " asp-controller="Expense" asp-action="DeleteExpense"
                   asp-route-id="@expense.Id">
                    Sil
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
